@{
    ViewData["Title"] = "Social Media";
}

<div id="socialMedia">
    <a href="https://www.facebook.com/">
        <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://www.linkedin.com/">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.twitter.com/">
        <i class="fab fa-twitter-square"></i>
    </a>
</div>

<div>

</div>

<div>

</div>





