@{
    ViewData["Title"] = "Social Media";
}

<div >
    <a href="https://www.facebook.com/">
        <i class="fab fa-facebook-square" style="font-size: 75px"></i>
    </a>
    <a href="https://www.linkedin.com/">
        <i class="fab fa-linkedin" style="font-size: 75px"></i>
    </a>
    <a href="https://www.twitter.com/">
        <i class="fab fa-twitter-square" style="font-size: 75px"></i>
    </a>
</div>

<div>

</div>

<div>

</div>





