@model string

@{
    ViewData["Title"] = "MyView";
}

<h2>MyView</h2>

@Model  World (from the view)

@ViewData["SpanishGreeting"] World (in Spanish)

@ViewBag.SpanishGreeting World (in Spanish again)